.intro-screen {
    background-color: $primary-color;
    height: 100vh;
    position: relative;
}
.intro-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.intro-content__heading {
    font-family: $heading-font;
    font-size: 120px;
    font-weight: 400;
    line-height: inherit;
    color: $heading-color;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0px;

    @media screen and (max-width: $medium) {
        font-size: 90px;
    }
    @media screen and (max-width: $small) {
        font-size: 70px;
    }
}
.intro-content__subheading {
    font-family: $heading-font;
    font-size: 25px;
    font-weight: 400;
    color: $heading-color;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0px;
}
.intro-content__brand-accent {
    margin-top: 50px;
    max-width: 300px;
}
.intro-screen__next-section {
    width: 22px;
    height: 24px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s ease-in-out;

    &:hover, &:active, &:focus {
        bottom: 23px;

        &:before {
            display: none;
        }
    }
    &:after {
        display: none;
    }
}
